run = "pip install -r requirements.txt && python main.py"
language = "python"
entrypoint = "main.py"

[nix]
channel = "stable-22_11"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun" 